<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itbox.grzl"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <application
        android:name="com.itbox.grzl.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="gaorenzhilu.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="12" />

        <activity
            android:name="com.itbox.grzl.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itbox.grzl.activity.GuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.itbox.grzl.activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.itbox.grzl.activity.PublishConsultationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.itbox.grzl.activity.LoginActicity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.RegistPhoneFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.RegistPhoneSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.RegistPhoneResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.RegistEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.RegistClauseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.ResetPassPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.ResetPassEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.UserInfoIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.UserSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.UserInfoMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.ConsultationSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.QuickAskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.SelectButton3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent_NoTitleBar" />
        <activity
            android:name="com.itbox.grzl.activity.SelectDateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent_NoTitleBar" />
        <activity
            android:name="com.itbox.grzl.activity.SelectAddrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent_NoTitleBar" />
        <activity
            android:name="com.itbox.grzl.activity.LicenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.ExamStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.ExamReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.itbox.grzl.activity.CommentAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.CommentInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.CommentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.TeacherIncomingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.TeacherWithdrawalsAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.TeacherWithdrawalsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.TeacherWithdrawalsInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.TeacherDetialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.PictureConsultationDetialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.EventSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.EventDetialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.EventAddrMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.SelectMapPointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.EventAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.EventCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.EventMyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.EventTeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.itbox.grzl.activity.SelectTimeMinuteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent_NoTitleBar" />
        <activity
            android:name="com.itbox.grzl.activity.SelectTimeHalfHourActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent_NoTitleBar" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.itbox.grzl"
            android:exported="false" />
        <activity
            android:name="com.itbox.grzl.activity.TeacherCommentListActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":location_service" >
        </service>
    </application>

</manifest>
